#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
<!-- box_info -->
<div id="content_main" class="ui-widget-content">
	<div id="info">
		<h3 class="ui-widget-header">$tstrings['box_info']</h3>
		<hr />
		<img src="images/boxes/${boximage}" id="box_image" alt="box_info">
		<hr />
		<br/>
		<table width="100%">
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['box']</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['model']:</td>
							<td class="inforight">$model</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['procmodel']:</td>
							<td class="inforight">$procmodel</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['hwserial']:</td>
							<td class="inforight">$hwserial</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['brand']:</td>
							<td class="inforight">$brand</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['boxrctype']:</td>
							<td class="inforight">$boxrctype</td>
						</tr>
						<tr>
							<td class="infoleft">$friendlychipsetdescription:</td>
							<td class="inforight">$friendlychipsettext</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['cpu_brand']:</td>
							<td class="inforight">$cpubrand</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['cpu_arch']:</td>
							<td class="inforight">$cpuarch</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['displaytype']:</td>
							<td class="inforight">$displaytype</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['main_memory']:</td>
							<td class="inforight">$mem3</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['box_uptime']:</td>
							<td class="inforight">$uptime</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['software']</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['oe_version']:</td>
							<td class="inforight">$oever</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['firmware_version']:</td>
							<td class="inforight">$imagedistro ($enigmaver)</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['kernel_version'] / $tstrings['driver_date']:</td>
							<td class="inforight">$kernelver / $driverdate</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['gstreamer_version']:</td>
							<td class="inforight">$gstreamerversion</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['ffmpeg_version']:</td>
							<td class="inforight">$ffmpegversion</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['python_version']:</td>
							<td class="inforight">$pythonversion</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['openvision']</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['vision_version']:</td>
							<td class="inforight">$visionversion</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['vision_revision']:</td>
							<td class="inforight">$visionrevision</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['vision_module']:</td>
							<td class="inforight">$visionmodule</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['flash_type']:</td>
							<td class="inforight">$flashtype</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['dvb']</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['dvbapi_type']:</td>
							<td class="inforight">$dvbapitype</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['transcoding']:</td>
							<td class="inforight">$transcoding</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['multitranscoding']:</td>
							<td class="inforight">$multitranscoding</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['tuners']</th>
						</tr>
						#for $tuner in $tuners
						<tr>
							<td class="infoleft" style="vertical-align:text-top;">$tuner.name</td>
							<td class="inforight">
								$tuner.type<br>
									#if $tuner.live != ''
										<div class='tled-box'><div class='tled green'></div></div>$tuner.live<br>
									#end if
									#if $tuner.rec != ''
										<div class='tled-box'><div class='tled red'></div></div>$tuner.rec<br>
									#end if
							</div>
							</td>
						</tr>
						#end for
						#if $EX != ''
						<tr><td colspan="2">$EX</td></tr>
						#end if
<!--					<tr><td colspan="2">
						<div class='tled-box'><div class='tled black'></div></div>free
						<div class='tled-box'><div class='tled green'></div></div>Live
						<div class='tled-box'><div class='tled red'></div></div>Record or Stream
						<div class='tled-box'><div class='tled orange'></div></div>Record or Stream and Live
						</td></tr>-->
					</table>
				</td>
			</tr>
			#for $hd in $hdd
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['hdd_model']: $hd.model</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['capacity']:</td>
							<td class="inforight">$hd.friendlycapacity ($hd.mount)</td>
						</tr>
					</table>
				</td>
			</tr>
			#end for
			#if $shares
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['networkshares']:</th>
						</tr>
						#for $share in $shares
						<tr>
							<td class="infoleft">$share.name:</td>
							<td class="inforight">$share.type $tstrings['using'] $share.method: $share.path ($share.friendlyaddress)</td>
						</tr>
						#end for
					</table>
				</td>
			</tr>
			#end if
			#for $iface in $ifaces
			<tr>
				<td width="100%">
					<table cellspacing="0" class="infomain ui-widget-content" >
						<tr>
							<th colspan="2" class="ui-widget-header">$tstrings['network_interface']: $iface.name ($iface.friendlynic)</th>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['linkspeed']:</td>
							<td class="inforight">$iface.linkspeed</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['mac_address']:</td>
							<td class="inforight">$iface.mac</td>
						</tr>
						<tr>
							<td class="infoleft">$tstrings['ipv6_address']:</td>
							<td class="inforight">$iface.ipv6 ($iface.ipmethod)</td>
						</tr>
						#if $iface.ip != "0.0.0.0"
							<tr>
								<td class="infoleft">$tstrings['ipv4_address']:</td>
								<td class="inforight">$iface.ip/$iface.v4prefix $tstrings['via'] $iface.gw ($iface.ipv4method)</td>
							</tr>
						#end if
					</table>
				</td>
			</tr>
			#end for
		</table>
	</div>
</div>	
<!-- /box_info -->
